html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 75px;
    border: solid;
    border-color: black;
    border-width: 1.75px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 18px;
    position: fixed;
    text-align: center;
}

.disciplinas {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 75px;
    line-height: 45px;
    padding-left: 25px;
    padding-top: 450px;
    font-size: 18px;
    position: fixed;
    text-align: center;
}