html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

textarea {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    height: 100px;
    border: solid;
    border-color: lightgray;
    border-width: 1.75px;
    border-radius: 25px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 18px;
    position: fixed;
    bottom: 7.5%;
    left: 38.5%;
}

.textarea2 {
    width: 57.5%;
    height: 800px;
    border: solid;
    border-color: lightgray;
    border-width: 1.75px;
    border-radius: 25px;
    line-height: 45px;
    padding-left: 25px;
    position: fixed;
    bottom: 5%;
    left: 35%;
}

.fonte {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 25%;
    height: 800px;
    border: solid;
    border-color: lightgray;
    border-width: 1.75px;
    border-radius: 25px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 18px;
    position: fixed;
    bottom: 5%;
    left: 5%;
    text-align: left;
}