html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

textarea {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 325%;
    height: 100px;
    border: solid;
    border-color: lightgray;
    border-width: 1.75px;
    border-radius: 25px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 18px;
}

footer {
    position: fixed;
    bottom: 5%;
    left: 23%;
}