html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 75px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 18px;
    position: fixed;
    text-align: center;
    background-color: grey;
    color: white;
}

.introducao {
    background-image: url("introducao.png");
    background-size: 300px;
}

.titulo {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    position: fixed;
    text-align: center;
    padding-left: 150px;
    padding-top: 200px;
    color: white;
}

.bemvindo {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    position: fixed;
    text-align: center;
    padding-left: 200px;
    padding-top: 300px;
    color: white;
}

.logo {
    padding-left: 800px;
    padding-top: 185px;
}

.botoes {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    position: fixed;
    text-align: center;
    padding-left: 225px;
    padding-top: 450px;
}

.button { 
    background-color: gray;
    border: solid;
    border-color: white;
    border-width: 1.75px;
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    margin: 2px 6px; 
    cursor: pointer; 
}

.sobre {
    background-color: gray;
    background-size: cover;
}

.oquee {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    position: fixed;
    text-align: center;
    padding-left: 100px;
    padding-top: 100px;
    color: white;
}

.quemsomos {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    position: fixed;
    text-align: center;
    padding-left: 525px;
    padding-top: 100px;
    color: white;
}

.objetivo {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    position: fixed;
    text-align: center;
    padding-left: 900px;
    padding-top: 100px;
    color: white;
}

.texto {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    position: fixed;
    text-align: center;
    padding-left: 50px;
    color: white;
}