html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 75px;
    border: solid;
    border-color: black;
    border-width: 1.75px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 18px;
    position: fixed;
    text-align: center;
    background-color: white;
}

.introducao {
    background-image: url("introducao.png");
    background-size: cover;
}

.texto1 {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    position: fixed;
    text-align: center;
    padding-left: 150px;
    padding-top: 250px;
}

.texto2 {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    position: fixed;
    text-align: center;
    padding-left: 200px;
    padding-top: 350px;
}

.logo {
    padding-left: 800px;
    padding-top: 250px;
}

.botoes {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    position: fixed;
    text-align: center;
    padding-left: 225px;
    padding-top: 500px;
}

.button { 
    background-color: #c5c5c5;
    border: solid;
    border-color: black;
    border-width: 1.75px;
    color: black; 
    padding: 10px 20px; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    margin: 2px 6px; 
    cursor: pointer; 
}