.App {
  text-align: center;
}

.TutorIA-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2em);
  color: #000000;
  border: #000000;
  border-style:solid
}